

# Environment variables
.env
.env.example
.env.template
.start.ps1



# dont add sensitive files
secrets.json
venv/

# Node modules
node_modules/

# Airflow runtime
logs/
airflow.db
airflow.cfg

# Python build artifacts
*.egg-info/
__pycache__/

